---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vardhan Patil - Homepage">
  <div class="flex justify-center items-center p-9">
    <div class="prose md:prose-xl dark:prose-invert" style="width: 65ch">
      <h2>
        I'm <span class="text-fuchsia-600 dark:text-fuchsia-400"
          >Vardhan Patil</span
        >, a web developer in Kolhapur, India.
      </h2>

      <p>I make websites and web applications for the web.</p>

      <p>
        I am currently working on <a href="https://nakshatralawns.netlify.app/"
          >Nakshatra Lawns</a
        >, a website for a local party lawn.
      </p>

      <p>
        I can make sites that are fast, secure, and accessible while being good
        looking and easy to use.
      </p>

      <h2 id="#my-sites">Sites I've worked on</h2>

      <ul>
        <li>
          <a href="https://nakshatralawns.netlify.app/">Nakshatra Lawns:</a> A pollution-free
          party lawn less than 30 minutes from Kolhapur.
        </li>
        <li>
          <a href="https://writtr.web.app/">Writtr:</a>
          A website for writers to write and publish their work.
        </li>
        <li>
          <a href="https://ditherwither.github.io/pomotime/">PomoTime:</a>
          A simple pomodoro timer.
        </li>
        <li>
          <a href="https://chibi.shuttleapp.rs">Chibi URL:</a>
          A simple URL shortener, with an public api that helps you shorten urls
        </li>
      </ul>
      <h2 id="#my-skills">My skills</h2>
      <ul>
        <li>
          <a href="https://astro.build">Astro:</a>
          A web framework for websites that load really fast.
        </li>
        <li>
          <a href="https://svelte.dev">Svelte:</a>
          A JavaScript framework for building user interfaces. It can be used in
          conjunction with Astro.
        </li>
        <li>
          <a href="https://tailwindcss.com">Tailwind CSS:</a>
          A utility-first CSS framework for rapidly building custom designs.
        </li>
      </ul>

      <h2 id="#contact">Contact</h2>
      <p>
        You can reach me at <a href="mailto:vardhanpatil@proton.me"
          >vardhanpatil@proton.me</a
        >
      </p>
    </div>
  </div>
</Layout>
